{% extends "_base.html" %}
{% block bodycss%}
	#body{
		padding:50px;
		width:1200px;
        	height:500px;
	}
		
	table {
		border: 10px solid green;
		width: 100%;
		padding:10px;
		color: #ffffff;
	}

	tr, td {
		//border-left: 1px solid white;
		//border-right: 1px solid white;
		color: #ffffff;
		font-weight:bold;
    		font-family:Arial, sans-serif;
    		text-align:left;
    		text-shadow:2px 0 15px #292929;
    		text-decoration:none;
    		letter-spacing:1px;
	}

	tr:first-child{
		font-weight:bold;
		font-size:24px;
    		font-family:Arial, sans-serif;
    		text-align:left;
    		text-shadow:2px 0 15px #292929;
    		text-decoration:underline;
    		letter-spacing:1px;
	}

{% endblock %}
{% block body %}
	<div id="body">
		<table>	
			<tr>
				<td>time</td>
				<td>bus route</td>
				<td>city</td>
				<td>on time?</td>
			</tr>
			<tr>
				<td>{{ theTime }}</td>
				<td>{{ s1.route }}</td>
				<td>{{ s1.city }}</td>
				<td>{{ s1.onTime }}</td>
			</tr>
		</table>
	</div>
{% endblock %}
{# vim: set syn=htmldjango: #}
