{% extends "_base.html" %}
{% block bodycss%}

    *{
	margin: 0;
    }
	
    #body{
        margin-left: auto;
        margin-right: auto;
        padding:50px;
	    width:1200px;
        height:500px;
    }

{% endblock %}
{% block body %}

    <div id="body">
        <table id="busDataTable">	
        </table>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        function refreshTable(){
            var ct = new Date().getTime() / 1000;
            var ft = ct + 60;
            $.get("http://busbus-dev.spaceboats.net/arrivals", { start_time: ct, end_time: ft }, function(data){
                var r = new Array(), j = 8;
                r[0] = '<tr><th>';
                r[1] = 'Time';
                r[2] = '</th><th>';
                r[3] = 'Bus Route';
                r[4] = '</th><th>';
                r[5] = 'Stop Name';
                r[6] = '</th><th>';
                r[7] = 'Headsign';
                r[8] = '</th>';
                data.arrivals.sort(compare);
                for (var key=0, size=data.arrivals.length; key<size; key++){
                    r[++j] ='<tr><td>';
					var d = new Date(data.arrivals[key].time * 1000);
                    r[++j] = d.toLocaleDateString() + " " + d.toLocaleTimeString();
					r[++j] = '</td><td>';
					r[++j] = data.arrivals[key].route.id;
                    r[++j] = '</td><td>'; 
                    r[++j] = data.arrivals[key].stop.id;     				 	
                    r[++j] = '</td><td>';
                    r[++j] = data.arrivals[key].headsign;
                    r[++j] = '</td></tr>';
                }
                $('#busDataTable').html(r.join(''));				
            });
            setTimeout(refreshTable, 5000);
        }

        $(refreshTable());

        function compare(a,b){
            if (a.time < b.time)
                return -1;
            else if (a.time > b.time)
                return 1;
            else
                return 0;
        }
    </script>

{% endblock %}
{# vim: set syn=htmldjango: #}
