{% extends "_base.html" %}
{% block bodycss%}

    *{
	margin: 0;
    }

    body{
	height: 100%;
    }

    .wrapper{
	min-height: 500px;
 	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
    }

    #banner{
        width:1200px;
        height:500px;
        text-align:left;
        border-radius:5px;
        margin:50px auto auto;
        padding:20px;
        padding-left:20px;
        background-image:url("/static/busroutes.jpg");
        background-repeat:no-repeat;
    }

    a:hover, a:active{
    	background-color:#13AE6C;
    }

    .footer, .push{
	height: 4em;
    }

{% endblock %}
{% block body %}
	<body>
		<div class="wrapper">
			<div id="banner">
				<h1>busbus</h1>
			</div>
			<div class="push"></div>
		</div>
		<div class="footer">
			<a href="https://github.com/spaceboats/busbus">github repo</a>
		</div>
	</body>
{% endblock %}
{# vim: set syn=htmldjango: #}
