{% extends "_base.html" %}
{% block bodycss%}

    *{
	margin: 0;
    }
	
    #body{
        margin-left: auto;
        margin-right: auto;
        padding:50px;
		width:1200px;
        height:500px;
    }
	
	#searchAgs, #searchOpts, #results, #dialog-box{
      border: 10px solid #13AE6C;
	  background-color:#3e3436;
      font-family:Arial, sans-serif;
      color: #FFFFFF;
      padding: 10px;
      text-align:left;
      font-weight:bold;
      font-size:24px;
      letter-spacing:1px;
  }	
  
  #agencyList, #startTime, #startM, #endTime, #endM, .routeDropList, .stopDropList, button{
	width:150px;
	font-size:24px;
	background-color:#3e3436;
	color:#FFFFFF;
	border-color:#13AE6C;
  }
  
  #dialog-box {
    
    background:#3e3436;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:328px; 
    
    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 
    /* hide it by default */
    display:none;
  }
  
  #dialog-box .dialog-content {
    /* style the content */
    text-align:center; 
    padding:10px; 
    margin:13px;
    //color:#666; 
    //font-family:arial;
    //font-size:11px; 
  }
 
  
{% endblock %}

{% block body %}
<div id="body">
	<div id="searchAgs">
		Select the Agency:<br>
		<select id="agencyList">
			<option value="select">Select</option>
		</select>
		<button id="b1">Search</button>
	</div>

	<div id="searchOpts" style="display:none">
		Select Start Time:<br>
		<select id="startTime"></select>
		<select id="startM">
			<option value="AM">AM</option>
			<option value="PM">PM</option>	
		</select>
		<br><br>
	
		Select End Time:<br>
		<select id="endTime"></select>
		<select id="endM">
			<option value="AM">AM</option>
			<option value="PM">PM</option>		
		</select>
		<br><br>

		Select Route:<br>
		<select class='routeDropList'></select>
		<br><br>

		Select Stop:<br>
		<select class='stopDropList'></select>
		<br><br>

		<button id="b3">Cancel</button>
		<button id="b2">Search</button>
	</div>
	
	<div id="results" style="display:none">
		<ul id="theResults"></ul>
	</div>
	
	<div id="dialog-box">
		<div class="dialog-content">
			<div id="dialog-message"></div><br>
			<button id="b4">OK</button>
		</div>
	</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>			

	var providerID;
	
	// Populate agencies in drop-down selection box.
	function displayAgencies(){
		$.get("http://busbus-dev.spaceboats.net/agencies", function(data){
			for (var key=0, size=data.agencies.length; key<size; key++){
				$('#agencyList').append('<option value="'+data.agencies[key].provider.id+'">'+data.agencies[key].name+'</option>');
			}
		});
		alert("HERE2");
	}
		
	// Populate times in drop-down selection boxes.
	function displayTimes(){
		var date = new Date();
		var minInterval = 15;
		var hrInterval = 1;
		var arr=[];
		var theMin = 0;
		var theHours = 0;
		date.setMinutes(theMin);
		date.setHours(theHours);
		for (var i=0;i<48;i++){
			if ((i%4) == 0){
				theMin = 0;
				date.setMinutes(theMin);
				theHours = theHours + hrInterval;
				date.setHours(theHours);
			} else {
				theMin = theMin + minInterval;
				date.setMinutes(theMin);
			}
			if (date.getMinutes() == 0){
				arr.push(date.getHours() + ':00');
			} else {
				arr.push(date.getHours() + ':' + date.getMinutes());
			}
		}
		$.each(arr, function(index, value) {
			$("#startTime").append("<option>" + value + "</option>");
		});
		$.each(arr, function(index, value) {
			$("#endTime").append("<option>" + value + "</option>");
		});
	}
		
	// Displays available routes to choose from based on provider ID.
	function displayRoutes(){
		$.get("http://busbus-dev.spaceboats.net/routes", { "provider.id": providerID }, function(data){
			for (var key=0, size=data.routes.length; key<size; key++){
				$('.routeDropList').append('<option value="'+data.routes[key].id+'">'+data.routes[key].id+'</option>');
			}
		});
	}
		
	// Displays available stops to choose from based on provider ID.
	function displayStops(){
		$.get("http://busbus-dev.spaceboats.net/stops", { "provider.id": providerID },function(data){
			for (var key=0, size=data.stops.length; key<size; key++){
				$('.stopDropList').append('<option value="'+data.stops[key].id+'">'+data.stops[key].id+'</option>');
			}
		});
	}
	
	// Displays results based on search bounds.
	function displayRes(startT, startM, endT, endM, route, stop){
		var startTime, endTime;
		
		/*** Parsing hours and minutes ***/
		var startHr = parseInt(startT.substr(0, startT.indexOf(':')));
		var startMin = parseInt(startT.substr((startT.indexOf(':')+1), startT.length));
		var endHr = parseInt(endT.substr(0, endT.indexOf(':')));
		var endMin = parseInt(endT.substr((endT.indexOf(':')+1), endT.length));
		
		/*** Correcting hours to military time if PM ***/
		if (startM == "PM"){
			if(startHr != 12){
				startHr = startHr + 12;
			}
		}
		if (endM == "PM"){
			if(endHr != 12){
				endHr = endHr + 12;
			}
		}
		
		/*** Creating proper time formats ***/
		var d = new Date();
		d.setHours(startHr);
		d.setMinutes(startMin);
		startTime = d.getTime()/1000;
		
		/*** If start time is PM and end is AM, change end date to tomorrow ***/
		if ((startM == "PM") && (endM == "AM")){
			d.setDate(d.getDate() + 1);
		}
		d.setHours(endHr);
		d.setMinutes(endMin);
		endTime = d.getTime()/1000;
		
		/*** Displaying search bounds ***/
		$('#theResults').append('<li>'+"Arrivals for ROUTE: "+route.substr((route.indexOf('_')+1), route.length)+" STOP: "+
												stop.replace(/_/g, " ")+" from "+startT+startM+" to "+endT+endM+":"+'</li>');

		/*** Adding results ***/										
		$.get("http://busbus-dev.spaceboats.net/arrivals", { "route.id": route, "provider.id": providerID, "stop.id": stop, start_time: startTime, end_time: endTime }, function(data){
			var a;
			data.arrivals.sort();
			for (var key=0, size=data.arrivals.length; key<size; key++){
				a = new Date(data.arrivals[key].time * 1000);
				$('#theResults').append('<li>'+a.toLocaleDateString() + " " + a.toLocaleTimeString()+'</li>');
			}
		});	
	}
	
	// Hides html div id "hide" and shows html div id "display".
	function swapHTML(hide, display){
		document.getElementById(display).style.display = 'block';
		document.getElementById(hide).style.display = 'none';
	}
		
	// Sets providerID to value of agencyList selection.
	// Populates other search option fields based on this ID.
	// Hides html div id "hide" and shows html div id "display".
	function displayOptions(hide, display){
		providerID = $('#agencyList').val();
		
		/*** Empty dropdown boxes before populating them just in case user arrives here after
			 cancelling previous search on an agency. ***/
		$('#startTime').empty();
		$('#endTime').empty();
		$('.routeDropList').empty();
		$('.stopDropList').empty();
		
		/*** Populate dropdown boxes. ***/
		displayTimes();
		displayStops();
		displayRoutes();
		
		swapHTML(hide, display);		
	}
	
	// Retrieve selected search bounds, call function to return results, and swap HTML views.
	function displayResults(hide, display){
		var startT = $('#startTime').val();
		var startM = $('#startM').val();
		var endT = $('#endTime').val();
		var endM = $('#endM').val();
		var route = $('.routeDropList').val();
		var stop = $('.stopDropList').val();
		
		/*** ERROR CHECKING ON TIME SELECTION ***/
		
		/*** Parsing hours and minutes ***/
		var startHr = parseInt(startT.substr(0, startT.indexOf(':')));
		var startMin = parseInt(startT.substr((startT.indexOf(':')+1), startT.length));
		var endHr = parseInt(endT.substr(0, endT.indexOf(':')));
		var endMin = parseInt(endT.substr((endT.indexOf(':')+1), endT.length));
		
		/*** If incorrect time range selection, alert pops up upon submit. ***/
		/*** Else search based on input. ***/
		if ((startM == "AM") && (endM == "AM")){
			if (startHr == 12){
				if (endHr == 12){
					if (startMin >= endMin){
						//alert("Please select a valid time range for the current date.");
						popup("Please select a valid time range for the current date.");
					} else {
						displayRes(startT, startM, endT, endM, route, stop);		
						swapHTML(hide, display);
					}
				} else {
					displayRes(startT, startM, endT, endM, route, stop);		
					swapHTML(hide, display);
				}
			} else if (endHr == 12) {
				//alert("Please select a valid time range for the current date.");
				popup("Please select a valid time range for the current date.");
			} else {
				if (startHr > endHr){
					//alert("Please select a valid time range for the current date.");
					popup("Please select a valid time range for the current date.");
				} else if (startHr == endHr){
					if (startMin >= endMin){
						//alert("Please select a valid time range for the current date.");
						popup("Please select a valid time range for the current date.");
					} else {
						displayRes(startT, startM, endT, endM, route, stop);		
						swapHTML(hide, display);
					}
				} else {
					displayRes(startT, startM, endT, endM, route, stop);		
					swapHTML(hide, display);
				}
			}					
		} else if ((startM == "AM") && (endM == "PM")){
			displayRes(startT, startM, endT, endM, route, stop);		
			swapHTML(hide, display);
		} else if ((startM == "PM") && (endM == "AM")){
			//alert("Please select a valid time range for the current date.");
			popup("Please select a valid time range for the current date.");
		} else if ((startM == "PM") && (endM == "PM")){
			if (endHr == 12){
				if (startHr == 12){
					if (startM >= endM){
						//alert("Please select a valid time range for the current date.");
						popup("Please select a valid time range for the current date.");
					} else {
						displayRes(startT, startM, endT, endM, route, stop);		
						swapHTML(hide, display);
					}
				} else {
					//alert("Please select a valid time range for the current date.");
					popup("Please select a valid time range for the current date.");
				}
			} else if (startHr == endHr){
				if (startM >= endM){
					//alert("Please select a valid time range for the current date.");
					popup("Please select a valid time range for the current date.");
				} else {
					displayRes(startT, startM, endT, endM, route, stop);		
					swapHTML(hide, display);
				}
			} else {
				if (startHr > endHr){
					//alert("Please select a valid time range for the current date.");
					popup("Please select a valid time range for the current date.");
				} else {
					displayRes(startT, startM, endT, endM, route, stop);		
					swapHTML(hide, display);
				}
			}
		}
	}

	// User option to cancel search takes them back to agency selection.
    function cancelOptions(hide, display){
	
		/*** Reset values in dropdown box. ***/
		$('#agencyList').empty();
		$('#agencyList').append('<option value="select">Select</option>');
		displayAgencies();
		
		/*** Go back to agency selection. ***/
        swapHTML(hide, display);
    }
	
	//Popup dialog
	function popup(message) {
        
		// get the screen height and width  
		var maskHeight = $(document).height();  
		var maskWidth = $(window).width();
    
		// calculate the values for center alignment
		var dialogTop =  (maskHeight/3) - ($('#dialog-box').height());  
		var dialogLeft = (maskWidth/2) - ($('#dialog-box').width()/2); 
    
		// assign values to the overlay and dialog box
		$('#dialog-box').css({top:dialogTop, left:dialogLeft}).show();
    
		// display the message
		$('#dialog-message').html(message);
    }
		
	// Calls displayOptions function upon press of first Search button.
	document.getElementById('b1').addEventListener('click',function(e){
		if ($('#agencyList').val() != "select"){
			displayOptions('searchAgs','searchOpts');
		}
	});
	
	// Calls displayResults function upon press of second Search button.
	document.getElementById('b2').addEventListener('click',function(e){
		displayResults('searchOpts','results');
	});

	// Calls cancelOptions function upon press of Cancel button.
	document.getElementById('b3').addEventListener('click',function(e){
        cancelOptions('searchOpts', 'searchAgs');
	});
		
	$(displayAgencies());
		
</script>
{% endblock %}
{# vim: set syn=htmldjango: #}
